<!DOCTYPE html>
<html
	lang="en">
	<!-- Mirrored from adminlte.io/themes/v3/pages/examples/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jul 2023 18:33:43 GMT -->
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Log in</title>

		<link rel="icon" type="image/png" sizes="32x32" href="{{asset('dist/img/logo-esprit.png')}}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback"/>

		<link rel="stylesheet" href="{{asset('plugins/fontawesome-free/css/all.min.css')}}"/>

		<link rel="stylesheet" href="{{asset('../../plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}"/>

		<link rel="stylesheet" href="{{asset('../../dist/css/adminlte.min2167.css?v=3.2.0')}}"/>
		<script nonce="43395f7a-101e-404b-bb38-4b26082771a7">
			(function (w, d) {
!(function (f, g, h, i) {
f[h] = f[h] || {};
f[h].executed = [];
f.zaraz = {
deferred: [],
listeners: []
};
f.zaraz.q = [];
f.zaraz._f = function (j) {
return function () {
var k = Array.prototype.slice.call(arguments);
f.zaraz.q.push({m: j, a: k});
};
};
for (const l of["track", "set", "debug"]) 
f.zaraz[l] = f.zaraz._f(l);


f.zaraz.init = () => {
var m = g.getElementsByTagName(i)[0],
n = g.createElement(i),
o = g.getElementsByTagName("title")[0];
o && (f[h].t = g.getElementsByTagName("title")[0].text);
f[h].x = Math.random();
f[h].w = f.screen.width;
f[h].h = f.screen.height;
f[h].j = f.innerHeight;
f[h].e = f.innerWidth;
f[h].l = f.location.href;
f[h].r = g.referrer;
f[h].k = f.screen.colorDepth;
f[h].n = g.characterSet;
f[h].o = new Date().getTimezoneOffset();
if (f.dataLayer) 
for (const s of Object.entries(Object.entries(dataLayer).reduce((t, u) => ({
...t[1],
...u[1]
}), {}))) 
zaraz.set(s[0], s[1], {scope: "page"});




f[h].q = [];
for (; f.zaraz.q.length;) {
const v = f.zaraz.q.shift();
f[h].q.push(v);
}
n.defer = !0;
for (const w of[localStorage, sessionStorage]) 
Object.keys(w || {}).filter((y) => y.startsWith("_zaraz_")).forEach((x) => {
try {
f[h]["z_" + x.slice(7)] = JSON.parse(w.getItem(x));
} catch {
f [h]["z_" + x.slice(7)] = w.getItem(x);
}}
);
n.referrerPolicy = "origin";
n.src = "../../../../cdn-cgi/zaraz/sd0d9.js?z=" + btoa(encodeURIComponent(JSON.stringify(f[h])));
m.parentNode.insertBefore(n, m);
};
;;
["complete", "interactive"].includes(g.readyState) ? zaraz.init() : f.addEventListener("DOMContentLoaded", zaraz.init);
}
)(w, d, "zarazData", "script");
}
)(window, document);
</script>
		</head>
		

	<body class="hold-transition login-page">
	
				<div class="preloader flex-column justify-content-center align-items-center">
					<img class="animation__shake" src="{{asset('dist/img/logo-esprit.png')}}" alt="AdminLTELogo" height="100" width="150"/>
				</div>
				
		<div class="login-box">
			<div class="login-logo">
				<img src="{{asset('dist/img/logo-esprit.png')}}" alt="LogoESPRIT" height="100" width="150"/>
			</div>
			<div class="card">
				<div class="card-body login-card-body">
					<p class="login-box-msg">Sign in to start your session</p>
					<br>
			{% for type, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ type }} alert-dismissible fade show d-flex align-items-center">
						{% if type == 'success'%}
							<i class="fas fa-check-circle" style="padding-right: 10px"></i>
						{% elseif type == 'danger'%}
							<i class="fas fa-times-circle" style="padding-right: 10px"></i>
						{% endif %}
						<div>
							{{ message }}
						</div>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
			{% endfor %}

			<br>
					<form method="post">
						{% if error %}
							<div class="alert alert-danger"> <i class="fas fa-times-circle"style="padding-right: 10px"></i>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}



						<div class="input-group mb-3">
							<input type="email" value="{{ last_username }}" placeholder="Email address" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-envelope"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input type="password" placeholder="Enter your password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


						<div class="row">
							<div class="col-8">
								<div class="icheck-primary">
									<label>
										<input type="checkbox" name="_remember_me">
										Remember me
									</label>
								</div>
							</div>

							<div class="col-4">
								<button type="submit" class="btn btn-primary btn-block">
									Sign In
								</button>
							</div>
						</div>
					</form>
					<br>

					<p class="mb-1">
						<a href="{{path('forgotten_password')}}">I forgot my password</a>
					</p>

				</div>
			</div>
		</div>
		<script src="{{asset('../../plugins/jquery/jquery.min.js')}}"></script>

		<script src="{{asset('../../plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

		<script src="{{asset('../../dist/js/adminlte.min2167.js?v=3.2.0')}}"></script>
	</body>

</html>
