{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{form_label(form.user)}}
{{form_widget(form.user)}}
{{form_errors(form.user,{'attr': {'class': 'invalid-feedback'}})}}
<br>
{{form_label(form.critere)}}
{{form_widget(form.critere)}}
{{form_errors(form.critere,{'attr': {'class': 'invalid-feedback'}})}}
<br>
{{form_label(form.note)}}
{{form_widget(form.note)}}
{{form_errors(form.note,{'attr': {'class': 'invalid-feedback'}})}}
<br>




<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
<br>
<br>

{{ form_end(form) }}
