{% extends 'base.html.twig' %}

{% block title %}Affectation des Notes{% endblock %}

{% block content %}
    <h1>Affectation des Notes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Utilisateur</th>
                <td>{{ affectationnote.user.nom }} {{ affectationnote.user.prenom }}</td>
            </tr>
            <tr>
                <th>Critère</th>
                <td>{{ affectationnote.critere.libelle }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ affectationnote.note }}</td>
            </tr>
        </tbody>
    </table>
{% if app.user.roles[0]=="ROLE_GESTIONNAIRE" %}
    <a href="{{ path('app_affectationnotes_index') }}">back to list</a>
    {% endif %}
    {% if app.user.roles[0]=="ROLE_ADMIN" %}
     <a href="{{ path('app_affectationnotes_admin') }}">back to list</a>
     {% endif %}
{% if app.user.roles[0]=="ROLE_GESTIONNAIRE" %}
    <a href="{{ path('app_affectationnotes_edit', {'id': affectationnote.id}) }}">edit</a>
    {% endif %}

    {{ include('affectationnotes/_delete_form.html.twig') }}
{% endblock %}
