{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{form_label(form.libelle)}}
{{form_widget(form.libelle)}}
<br>
{{form_label(form.ponderation)}}
{{form_widget(form.ponderation)}}
<br>
{{form_label(form.description)}}
{{form_widget(form.description)}}
<br>




<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
<br>
<br>

{{ form_end(form) }}
