{% extends 'base.html.twig' %}

{% block title %}Critere index
{% endblock %}

{% block page %}Critere index
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<br>
			{% for type, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ type }} alert-dismissible fade show d-flex align-items-center">
						{% if type == 'success'%}
							<i class="fas fa-check-circle" style="padding-right: 10px"></i>
						{% elseif type == 'danger'%}
							<i class="fas fa-times-circle" style="padding-right: 10px"></i>
						{% endif %}
						<div>
							{{ message }}
						</div>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
			{% endfor %}

			<br>
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Liste des critères de: {{evaluation.libelle}}</h3>
					{% if app.user == evaluation.idUser %}
						
					
					<div class="d-flex justify-content-end" style="padding-top: 15px;padding-right: 25px;" >
					<a class="btn btn-primary d-inline-flex align-items-center" href="{{ path('app_critere_new', {'id': evaluation.id}) }}"> <i class="fas fa-plus" style="padding-right:3px"></i>Ajouter un critère</a>
				</div>
				{% endif %}
				<div class="card-body">
					<table id="example1" class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								
								<th>Libelle</th>
								
								<th>Pondération</th>
								<th>Status</th>
                               
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for critere in criteres %}
								<tr>
									
									<td>{{ critere.libelle }}</td>
									
									<td>{{ critere.ponderation }}</td>
									   {% if critere.enabled == true %}
                    <td>
												<span class="badge badge-success">Activé
													<i class="fas fa-check text-white"></i>
												</span>
                    </td>
                {% else %}
                    <td>
												<span class="badge badge-danger">Désactivé
													<i class="fas fa-ban text-white"></i>
												</span>
                    </td>
                {% endif %}
									<td>
										<a href="{{ path('app_critere_show', {'id': critere.id}) }}"><i class="fas fa-info-circle text-info"></i></a>
									{% if app.user == evaluation.idUser %}	<a href="{{ path('app_critere_edit', {'id': critere.id}) }}"><i class="fas fa-edit text-warning"></i></a> 
									
									
									 {% if critere.enabled == false %}

                        <a href="{{ path('app_critere_activer', {'id': critere.id}) }}">
                            <i class="fas fa-unlock  text-success"></i>
                        </a>
                        {% else %}

                        <a href="{{ path('app_critere_delete', {'id': critere.id}) }}">
                            <i class="fas fa-ban text-danger"></i>
                            {% endif %} </a>
									
									
									
									
									{% endif %}
									
									
									
									
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="10">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
						<th>Libelle</th>
								
								<th>Pondération</th>
								<th>Status</th>
                                
								<th>actions</th>
						</tfoot>
					</table>
            <a href="{{ path('app_evaluation_showEv', {'id': evaluation.id}) }}">Retour aux détails de l'évaluation</a>

				</div>
			</div>
		</div>
	</div>
</div>




{% endblock %}
