{% extends 'base.html.twig' %}

{% block title %}Critere{% endblock %}

{% block content %}

    <h1>Critere</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Libelle</th>
                <td>{{ critere.libelle }}</td>
            </tr>
            <tr>
                <th>Ponderation</th>
                <td>{{ critere.ponderation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ critere.description|raw }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ critere.createdAt ? critere.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ critere.updatedAt ? critere.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                {% if critere.enabled == true %}
                    <td>
						<span class="badge badge-success">Activé
							<i class="fas fa-check text-white"></i>
						</span>
                    </td>
                {% else %}
                    <td>
						<span class="badge badge-danger">Désactivé
							<i class="fas fa-lock text-white"></i>
						</span>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

   
  

<div class="row">
        <div class="col-md-2">
            <a href="{{ path('app_critere_index', {'id': critere.idEvaluation.id}) }}" class="btn btn-success">
                <i class="fas fa-edit" style="padding-right: 3px"></i>Retour à la liste
            </a>
        </div>
    {% if critere.idEvaluation.idUser ==  app.user %}
        <div class="col-md-2">
            <a href="{{ path('app_critere_edit', {'id': critere.id}) }}" class="btn btn-warning">
                <i class="fas fa-edit" style="padding-right: 3px"></i>Modifier
            </a>
        </div>
        <div class="col-md-2">
            {% if critere.enabled == true %}
                <a href="{{ path('app_critere_delete', {'id': critere.id}) }}" class="btn btn-danger">
                    <i class="fas fa-lock text-white" style="padding-right: 3px"></i>Désactiver
                </a>
            {% else %}
                <a href="{{ path('app_critere_activer', {'id': critere.id}) }}" class="btn btn-success">
                    <i class="fas fa-check text-white" style="padding-right: 3px"></i>Activer
                </a>
            {% endif %}
        </div>
    {% endif %}
    </div>


{% endblock %}
