{% extends 'base.html.twig' %}
{% block title %}Liste Des Departements{% endblock %}

{% block content %}
    <h1>Liste Des Departements</h1>

    <div class="card">
    <div class="card-header">
    <div class="d-flex justify-content-end" style="padding-top: 15px;padding-right: 25px;">
    <a class="btn btn-primary d-inline-flex align-items-center" href="{{ path('app_departement_new') }}">
        <i class="fas fa-plus" style="padding-right:3px"></i>Ajouter un nouveau</a>
    </div>
    <div class="card-body">
    <table id="example1" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>

            <th>Libelle</th>
            <th>Date de création</th>
            <th>Date de derniére mise à jour</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for departement in departements %}
            <tr>

                <td>{{ departement.libelle }}</td>
                <td>{{ departement.createdAt ? departement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ departement.updatedAt ? departement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                {% if departement.enabled == true %}
                    <td>
												<span class="badge badge-success">Activé
													<i class="fas fa-check text-white"></i>
												</span>
                    </td>
                {% else %}
                    <td>
												<span class="badge badge-danger">Désactivé
													<i class="fas fa-lock text-white"></i>
												</span>
                    </td>
                {% endif %}
                <td>
                    <a href="{{ path('app_departement_show', {'id': departement.id}) }}"><i class="fas fa-info-circle text-info"></i></a>
                    <a href="{{ path('app_departement_edit', {'id': departement.id}) }}"><i class="fas fa-edit text-warning"></i></a>
                    {% if departement.enabled == false %}
                    <a href="{{ path('app_departement_activer', {'id': departement.id}) }}">
                        <i class="fas fa-unlock  text-success"></i>
                    </a>
                    {% else %}

                    <a href="{{ path('app_departement_desactiver', {'id': departement.id}) }}">
                        <i class="fas fa-ban text-danger"></i>
                        {% endif %} </a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}