{% extends 'base.html.twig' %}

{% block title %}Departement{% endblock %}

{% block content %}
    <h1>Departement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ departement.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ departement.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ departement.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ departement.createdAt ? departement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ departement.updatedAt ? departement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ departement.enabled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_departement_index') }}" class="btn btn-success"><i class="fas fa-edit" style="padding-right:3px"></i>Back to list</a>
    <br>

    <a href="{{ path('app_departement_edit', {'id': departement.id}) }}" class="btn btn-warning"><i class="fas fa-edit" style="padding-right:3px"></i>Edit</a>

    {{ include('departement/_delete_form.html.twig') }}
{% endblock %}
