{% extends 'base.html.twig' %}

{% block title %}Les Détails Du Departement{% endblock %}

{% block content %}
    <h1>Les Détails du Departement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ departement.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ departement.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ departement.description }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ departement.createdAt ? departement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de derniére mise à jour</th>
                <td>{{ departement.updatedAt ? departement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                {% if departement.enabled == true %}
                    <td>
						<span class="badge badge-success">Activé
							<i class="fas fa-check text-white"></i>
						</span>
                    </td>
                {% else %}
                    <td>
						<span class="badge badge-danger">Désactivé
							<i class="fas fa-lock text-white"></i>
						</span>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <div>
        <a href="{{ path('app_departement_index') }}" class="btn btn-success" style="display: inline-block; margin-right: 20px;">
            <i class="fas fa-edit" style="padding-right: 3px;"></i>Retour à la liste
        </a>
        <a href="{{ path('app_departement_edit', {'id': departement.id}) }}" class="btn btn-warning" style="display: inline-block; margin-right: 20px;">
            <i class="fas fa-edit" style="padding-right: 3px;"></i>Modifier
        </a>
    </div>
{% endblock %}
