{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block content %}
    <h1>Liste Des Sessions</h1>
<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-end" style="padding-top: 15px;padding-right: 25px;">
    <a class="btn btn-primary d-inline-flex align-items-center" href="{{ path('app_session_new') }}">
        <i class="fas fa-plus" style="padding-right:3px"></i>Ajouter un nouveau</a>
        </div>
        <div class="card-body">
    <table id="example1" class="table table-bordered table-hover table-striped">
        <thead>
        <tr>

            <th>Libelle</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Date de création</th>
            <th>Date de la derniére mise à jour </th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>

                <td>{{ session.libelle }}</td>
                <td>{{ session.dateDebut ? session.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ session.dateFin ? session.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ session.createdAt ? session.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ session.updatedAt ? session.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                {% if session.enabled == true %}
                    <td>
												<span class="badge badge-success">Activé
													<i class="fas fa-check text-white"></i>
												</span>
                    </td>
                {% else %}
                    <td>
												<span class="badge badge-danger">Désactivé
													<i class="fas fa-ban text-white"></i>
												</span>
                    </td>
                {% endif %}
                <td>
                    <a href="{{ path('app_session_show', {'id': session.id}) }}"><i class="fas fa-info-circle text-info"></i></a>
                    <a href="{{ path('app_session_edit', {'id': session.id}) }}"><i class="fas fa-edit text-warning"></i>
                        {% if session.enabled == false %}

                        <a href="{{ path('app_session_activer', {'id': session.id}) }}">
                            <i class="fas fa-unlock  text-success"></i>
                        </a>
                        {% else %}

                        <a href="{{ path('app_session_desactiver', {'id': session.id}) }}">
                            <i class="fas fa-ban text-danger"></i>
                            {% endif %} </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
