{% extends 'base.html.twig' %}

{% block title %}Détails session
{% endblock %}
{% block titlepage %}Détails session
{% endblock %}
{% block page %}Détails session
{% endblock %}

{% block content %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ session.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ session.description }}</td>
            </tr>
            <tr>
                <th>Date Début</th>
                <td>{{ session.dateDebut ? session.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date Fin</th>
                <td>{{ session.dateFin ? session.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ session.createdAt ? session.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de la dérniére mise à jour </th>
                <td>{{ session.updatedAt ? session.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                {% if session.enabled == true %}
                    <td>
						<span class="badge badge-success">Activé
							<i class="fas fa-check text-white"></i>
						</span>
                    </td>
                {% else %}
                    <td>
						<span class="badge badge-danger">Désactivé
							<i class="fas fa-lock text-white"></i>
						</span>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <div class="row">
        <div class="col-md-2">
            <a href="{{ path('app_session_index') }}" class="btn btn-success">
                <i class="fas fa-edit" style="padding-right: 3px"></i>Retour à la liste
            </a>
        </div>
        <div class="col-md-2">
            <a href="{{ path('app_session_edit', {'id': session.id}) }}" class="btn btn-warning">
                <i class="fas fa-edit" style="padding-right: 3px"></i>Modifier
            </a>
        </div>
        <div class="col-md-2">
            {{ include('session/_delete_form.html.twig') }}
        </div>
        <div class="col-md-2">
            {% if session.enabled == true %}
                <a href="{{ path('app_session_desactiver', {'id': session.id}) }}" class="btn btn-danger">
                    <i class="fas fa-lock text-white" style="padding-right: 3px"></i>Désactiver
                </a>
            {% else %}
                <a href="{{ path('app_session_activer', {'id': session.id}) }}" class="btn btn-success">
                    <i class="fas fa-check text-white" style="padding-right: 3px"></i>Activer
                </a>
            {% endif %}
        </div>
    </div>
    <br>
    <br>
{% endblock %}
