{% extends 'base.html.twig' %}

{% block title %}Détails du badge
{% endblock %}
{% block titlepage %}Détails du badge
{% endblock %}
{% block page %}Détails du badge
{% endblock %}


{% block content %}
<style>
		.cardt-container {
			display: flex;
			flex-wrap: wrap; /* To wrap cards to the next line if they overflow */
		}
		.cardt {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			transition: 0.3s;
			width: 15%;
			height: 25%;
			margin: 40px;
			
		}

		.cardt:hover {
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
		}

		.container {
			padding: 2px 16px;
		}
	</style>
	<table class="table">
		<tbody>
			<tr>
				<th>Image</th>
				<td>
					<div class="text-center">
						<img class="profile-user-img img-fluid img-circle" src="{{asset('/Photos/badges/' ~ badge.image)}}" alt="User profile picture"/>
					</div>
				</td>
			</tr>
			<tr>
				<th>Libelle</th>
				<td>{{ badge.libelle }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ badge.description |raw }}</td>
			</tr>
			<tr>
				<th>Action</th>
				<td>{{ badge.action}}</td>
			</tr>
			<tr>
				<th>Statut</th>
				{% if badge.enabled == true %}
					<td>
						<span class="badge badge-success">activé
							<i class="fas fa-check text-white"></i>
						</span>
					</td>
				{% else %}
					<td>
						<span class="badge badge-danger">Désactivé
							<i class="fas fa-lock text-white"></i>
						</span>
					</td>
				{% endif %}
			</tr>
			<tr>
				<th>Date de création</th>
				<td>{{ badge.createdAt ? badge.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Date de la derniére mise à jour</th>
				<td>{{ badge.updatedAt ? badge.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>

		</tbody>
	</table>
	<div class="row">
		<div class="col-md-2">

			<a href="{{ path('app_badge_edit', {'id': badge.id}) }}" class="btn btn-warning">
				<i class="fas fa-edit" style="padding-right:3px"></i>Modifier</a>
		</div>
		<div class="col-md-2">
			{% if badge.enabled == true %}
				<a href="{{ path('app_badge_desactivate', {'id': badge.id}) }}" class="btn btn-danger">
					<i class="fas fa-lock text-white" style="padding-right:3px"></i>Désactiver</a>

			{% else %}
				<a href="{{ path('app_badge_activate', {'id': badge.id}) }}" class="btn btn-success">
					<i class="fas fa-lock-open text-white" style="padding-right:3px"></i>Activer</a>
			{% endif %}
		</div>
	</div>
	<br><br>

	{% if users is not empty %}
		<h2 style="color:#0077b6;">
			<b>Utilisateurs
				<i class="fas fa-users"></i>
			</b>
		</h2>
		<div class="cardt-container">
			{% for user in users %}
				<div class="cardt">

					<img src="{{ asset('Photos/users/' ~ user.image) }}" class="img-circle elevation-2" alt="badgeImage" style="width:100%">
					<div class="container">
						<h3>{{ user.prenom }}
							{{ user.nom }}</h3>
					</div>

				</div>
			{% endfor %}

		</div>
	{% endif %}

{% endblock %}
