{% extends 'base.html.twig' %}

{% block title %}Evaluation index{% endblock %}

{% block body %}
    <h1>Evaluation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Enabled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.id }}</td>
                <td>{{ evaluation.libelle }}</td>
                <td>{{ evaluation.description }}</td>
                <td>{{ evaluation.createdAt ? evaluation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evaluation.updatedAt ? evaluation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evaluation.enabled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_evaluation_show', {'id': evaluation.id}) }}">show</a>
                    <a href="{{ path('app_evaluation_edit', {'id': evaluation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evaluation_new') }}">Create new</a>
{% endblock %}
