{% extends 'base.html.twig' %}

{% block title %}Evaluation{% endblock %}

{% block content %}
<style>
.cardt-container {
  display: flex;
  flex-wrap: wrap; /* To wrap cards to the next line if they overflow */
}
.cardt {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  margin: 40px;
}

.cardt:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
    <h1>Evaluation</h1>
{% if app.user.roles[0]=="ROLE_GESTIONNAIRE"%}
    <a href="{{ path('app_evaluation_index') }}">back to list</a>

{% elseif app.user.roles[0]=="ROLE_ADMIN"%}
    <a href="{{ path('app_evaluation_admin') }}">back to list</a>
{% endif %}
{% if evaluation.idUser ==  app.user %}
    <a href="{{ path('app_evaluation_edit', {'id': evaluation.id}) }}">edit</a>

    {{ include('evaluation/_delete_form.html.twig') }}
{% endif %}
    <table class="table">
        <tbody>

          

            <tr>
                <th>Libelle</th>
                <td>{{ evaluation.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evaluation.description |raw }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ evaluation.createdAt ? evaluation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ evaluation.updatedAt ? evaluation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ evaluation.enabled ? 'Yes' : 'No' }}</td>
            </tr>
             <tr>
                <th>Critères</th>
                <td> <a href="{{ path('app_critere_index', {'id': evaluation.id}) }}" >liste des critères</a></td>
            </tr>
			  <tr>
                <th>Département</th>
                <td> {{app.user.idDepartement}}</a></td>
            </tr>
        </tbody>
    </table>

{% if app.user.roles[0]=="ROLE_GESTIONNAIRE" %}
    <div class="row">
	{% set tot = 0 %}
                                {% for cr in criteres %}
								
                                
								{% set tot = tot + cr.ponderation %}
								{% endfor %}
		<div class="col-12">
			<br>
			{% for type, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ type }} alert-dismissible fade show d-flex align-items-center">
						{% if type == 'success'%}
							<i class="fas fa-check-circle" style="padding-right: 10px"></i>
						{% elseif type == 'danger'%}
							<i class="fas fa-times-circle" style="padding-right: 10px"></i>
						{% endif %}
						<div>
							{{ message }}
						</div>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
			{% endfor %}

			<br>

{% if topAffs is not empty%}
			 <h2 style="color:green;"> <b>TOP 3 USERS <i class="fas fa-award"></i> </b></h2>
			 <div class="cardt-container">
{% for affT in topAffs %}
<div class="cardt">

  <img src="{{ asset('Photos/users/' ~ affT[0].user.image) }}" class="img-circle elevation-2" alt="userImage" style="width:100%">
  <div class="container">
    <h4><b> {{affT[0].user.nom}} {{affT[0].user.prenom}}</b></h4> 
    <p style="font-weight: bold;color:green;"> Score Total: {{affT.totalNote}} /{{tot}} </p> 
  </div>
</div>
{% endfor %}

</div>
{% endif %}
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Users</h3>
					<a class="btn btn-primary d-inline-flex align-items-center" style="margin-top:50px;" href="{{ path('app_evaluation_excel', {'id': evaluation.id}) }}"> Exporter en Excel</a>
					
				<div class="card-body">
					<table id="example1" class="table table-bordered table-hover table-striped">
						<thead>
							<tr>
								
								<th>Utilisateur</th>
								
                                {% for cr in criteres %}
								<th> {{cr.libelle }} /{{cr.ponderation }}</th>
                                
								
								{% endfor %}
                                <th> SCORE TOTAL / {{tot}} </th>
								 <th> Action</th>
								
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									
									<td>{{ user.nom }} {{ user.prenom }}</td>
                                    {% set tot = 0 %}
                                    {% for cr in criteres %}
									<td> 
                                    {% for aff in affectations %}
                                    {% if aff.critere.id == cr.id and aff.user.id == user.id %}

                                        {{aff.note}}
                                        {% set tot = tot + aff.note %}

                                        {% endif %}
                                        {% endfor %}

{% endfor %}
</td>
 

<td class="total">{{tot}}  </td>
<td > <a class="btn btn-primary d-inline-flex align-items-center" href="{{ path('app_evaluation_pdf', {'userId': user.id,'evId': evaluation.id}) }}"> pdf </a> </td>
</form>


									
										
								</tr>
							{% else %}
								<tr>
									<td colspan="10">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
