{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{form_label(form.id)}}
{{form_widget(form.id)}}
<br>
{{form_label(form.nom)}}
{{form_widget(form.nom)}}

<br>
{{form_label(form.prenom)}}
{{form_widget(form.prenom)}}

<br>
{{form_label(form.email)}}
{{form_widget(form.email)}}

<br>
{{form_label(form.roles)}}
{{form_widget(form.roles)}}

<br>
{{form_label(form.password)}}
{{form_widget(form.password)}}

<br>
{{form_label(form.image)}}
{{form_widget(form.image)}}
{{form_errors(form.image)}}
<br>
{{form_label(form.idDepartement)}}
{{form_widget(form.idDepartement)}}

<br>
{{form_label(form.idGroupe)}}
{{form_widget(form.idGroupe)}}

<br>

<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
<br>
<br>
{{ form_end(form) }}
