{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}
{% block titlepage %}Mon Profil
{% endblock %}
{% block page %}Mon Profil
{% endblock %}

{% block content %}
	<br>
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ type }} alert-dismissible fade show d-flex align-items-center">
				{% if type == 'success'%}
					<i class="fas fa-check-circle" style="padding-right: 10px"></i>
				{% elseif type == 'danger'%}
					<i class="fas fa-times-circle" style="padding-right: 10px"></i>
				{% endif %}
				<div>
					{{ message }}
				</div>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endfor %}
	{% endfor %}

	<br>

	<div class="row">

		<div class="col-md-3">
			<div class="card card-primary card-outline">
				<div class="card-body box-profile">
					<div class="text-center">
						<img class="profile-user-img img-fluid img-circle" src="{{asset('/Photos/users/' ~ app.user.image)}}" alt="User profile picture"/>
					</div>
					<h3 class="profile-username text-center">{{app.user.prenom}}
						{{app.user.nom}}</h3>
					<p class="text-muted text-center">
						{% if "ROLE_ADMIN" in app.user.roles %}
							Administrateur
							<i class="fas fa-user-shield text-primary"></i>
						{% elseif "ROLE_GESTIONNAIRE" in app.user.roles %}
							Gestionnaire
							<i class="fas fa-user-tie text-primary"></i>
						{% elseif "ROLE_Utilisateur" in app.user.roles %}
							Utilisateur
							<i class="fas fa-user text-primary"></i>
						{% endif %}
					</p>
					<ul class="list-group list-group-unbordered mb-3">
						<li class="list-group-item">
							<b>Département</b>
							<a class="float-right">{{app.user.iddepartement.libelle}}</a>
						</li>
						<li class="list-group-item">
							<b>Groupe</b>
							<a class="float-right">{{app.user.idGroupe.libelle}}</a>
						</li>
						<li class="list-group-item">
							<b>Email</b>
							<a class="float-right">{{app.user.email}}</a>
						</li>
						<li class="list-group-item">
							<b>Date de création</b>
							<a class="float-right">{{ app.user.createdAt ? app.user.createdAt|date('Y-m-d H:i:s') : '' }}</a>
						</li>
						<li class="list-group-item">
							<b>Derniere mise à jour</b>
							<a class="float-right">{{ app.user.updatedAt ? app.user.updatedAt|date('Y-m-d H:i:s') : '' }}</a>
						</li>


					</ul>

				</div>
			</div>

			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title">A propos</h3>
				</div>

				<div class="card-body">
					<strong>
						<i class="fas fa-book mr-1"></i>
						Education</strong>
					<p class="text-muted">
						B.S. in Computer Science from the University of Tennessee
																																				                      at Knoxville
					</p>
					<hr/>
					<strong>
						<i class="fas fa-map-marker-alt mr-1"></i>
						Location</strong>
					<p class="text-muted">Malibu, California</p>
					<hr/>
					<strong>
						<i class="fas fa-pencil-alt mr-1"></i>
						Skills</strong>
					<p class="text-muted">
						<span class="tag tag-danger">UI Design</span>
						<span class="tag tag-success">Coding</span>
						<span class="tag tag-info">Javascript</span>
						<span class="tag tag-warning">PHP</span>
						<span class="tag tag-primary">Node.js</span>
					</p>
					<hr/>
					<strong>
						<i class="far fa-file-alt mr-1"></i>
						Notes</strong>
					<p class="text-muted">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
																																				                      Etiam fermentum enim neque.
					</p>
				</div>
			</div>

			{% if badges is not empty %}
				<div class="card card-warning">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fas fa-award" style="padding-right:4px"></i>Badges</h3>
					</div>

					<div class="card-body">
						{% for badge in badges %}


							<img src="{{ asset('Photos/badges/' ~ badge.image) }}" width="80" height="80" class="img-circle elevation-2" alt="badgeImage">
							<span class="badge badge-light position-absolute bottom-0 start-100 translate-middle rounded-pill">
								x
								{{ badge.badgeCount }}</span>


						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>

		<div class="col-md-9">
			<div class="card">
				<div class="card-header p-2">
					<ul class="nav nav-pills">

						<li class="nav-item">
							<a class="nav-link active" href="#timeline" data-toggle="tab">Timeline</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#settings" data-toggle="tab">Paramétres</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<div class="tab-content">

						<div class="active tab-pane" id="timeline">
							<div class="timeline timeline-inverse">
								<div class="time-label">
									<span class="bg-danger">
										10 Feb. 2014
									</span>
								</div>

								<div>
									<i class="fas fa-envelope bg-primary"></i>
									<div class="timeline-item">
										<span class="time">
											<i class="far fa-clock"></i>
											12:05</span>
										<h3 class="timeline-header">
											<a href="#">Support Team</a>
											sent you an email
										</h3>
										<div class="timeline-body">
											Etsy doostang zoodles disqus groupon greplin
																																																																		                                oooj voxy zoodles, weebly ning heekya handango
																																																																		                                imeem plugg dopplr jibjab, movity jajah plickers
																																																																		                                sifteo edmodo ifttt zimbra. Babblely odeo
																																																																		                                kaboodle quora plaxo ideeli hulu weebly
																																																																		                                balihoo...
										</div>
										<div class="timeline-footer">
											<a href="#" class="btn btn-primary btn-sm">Read more</a>
											<a href="#" class="btn btn-danger btn-sm">Delete</a>
										</div>
									</div>
								</div>

								<div>
									<i class="fas fa-user bg-info"></i>
									<div class="timeline-item">
										<span class="time">
											<i class="far fa-clock"></i>
											5 mins ago</span>
										<h3 class="timeline-header border-0">
											<a href="#">Sarah Young</a>
											accepted your friend
																																																																		                                request
										</h3>
									</div>
								</div>

								<div>
									<i class="fas fa-comments bg-warning"></i>
									<div class="timeline-item">
										<span class="time">
											<i class="far fa-clock"></i>
											27 mins ago</span>
										<h3 class="timeline-header">
											<a href="#">Jay White</a>
											commented on your post
										</h3>
										<div class="timeline-body">
											Take me to your leader! Switzerland is small and
																																																																		                                neutral! We are more like Germany, ambitious and
																																																																		                                misunderstood!
										</div>
										<div class="timeline-footer">
											<a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
										</div>
									</div>
								</div>

								<div class="time-label">
									<span class="bg-success">
										3 Jan. 2014
									</span>
								</div>

								<div>
									<i class="fas fa-camera bg-purple"></i>
									<div class="timeline-item">
										<span class="time">
											<i class="far fa-clock"></i>
											2 days ago</span>
										<h3 class="timeline-header">
											<a href="#">Mina Lee</a>
											uploaded new photos
										</h3>
										<div class="timeline-body">
											<img src="https://placehold.it/150x100" alt="..."/>
											<img src="https://placehold.it/150x100" alt="..."/>
											<img src="https://placehold.it/150x100" alt="..."/>
											<img src="https://placehold.it/150x100" alt="..."/>
										</div>
									</div>
								</div>

								<div>
									<i class="far fa-clock bg-gray"></i>
								</div>
							</div>
						</div>

						<div class="tab-pane" id="settings">
							{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
							{{form_label(form.id)}}
							{{form_widget(form.id)}}
							{{form_errors(form.id,{'attr': {'class': 'invalid-feedback'}})}}
							<br>
							{{form_label(form.nom)}}
							{{form_widget(form.nom)}}
							{{form_errors(form.nom,{'attr': {'class': 'invalid-feedback'}})}}
							<br>
							{{form_label(form.prenom)}}
							{{form_widget(form.prenom)}}
							{{form_errors(form.prenom,{'attr': {'class': 'invalid-feedback'}})}}
							<br>
							{{form_label(form.email)}}
							{{form_widget(form.email)}}
							{{form_errors(form.email,{'attr': {'class': 'invalid-feedback'}})}}
							<br>
							{{form_label(form.image)}}
							{{form_widget(form.image)}}
							{{form_errors(form.image)}}
							<br>
							<br>

							<button class="btn btn-primary">{{ button_label|default('mise à jour') }}</button>
							<br>
							<br>
							<hr>

							{{ form_end(form) }}

							{{ form_start(formpass, {'attr': {'novalidate': 'novalidate'}}) }}
							{{form_label(formpass.password)}}
							{{form_widget(formpass.password)}}
							{{form_errors(formpass.password,{'attr': {'class': 'invalid-feedback'}})}}
							<br>
							<br>

							<button class="btn btn-primary">{{ button_label|default('modifier mot de passe') }}</button>
							{{ form_end(formpass) }}
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
